@use '@picocss/pico/scss' with (
  $theme-color: 'jade'
);

.full-width {
  width: 100%;
}

.delete {
  --pico-color: var(--pico-form-element-invalid-border-color) !important;
  --pico-border-color: var(--pico-form-element-invalid-border-color) !important;
}

svg {
  color: var(--pico-color);
}

:where(fieldset:has(*[aria-invalid='true'])) + small {
  color: var(--pico-del-color);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
